* {
  padding: 0;
  margin: 0;
  border: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;

  &:before {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  &:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}

html {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

$black: #1b1f2b;
$white: #fff;
$orange_200: #efa501;
$orange_100: #f8e6be;
$green_400: #286562;
$green_300: #3b7e7b;
$green_200: #627f7e;
$green_100: #e0f0e5;
$grey_300: #a6a6a6;
$grey_200: #d9dfdb;
$grey_100: #f1f3f2;
$beige_200: #f4f0e9;
$beige_100: #f9f7f4;
$trip_color: linear-gradient(360deg,rgba(0, 0, 0, 0.4) 0%,rgba(0, 0, 0, 0.06) 48.44%,rgba(0, 0, 0, 0.5) 100%);
$history_color: linear-gradient(270deg, rgba(0, 0, 0, 0) 0.01%,rgba(0, 0, 0, 0.2) 100%);
$hidden:rgba(243, 239, 232, 0.6);


%h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 96px;
  line-height: 109%;
  letter-spacing: 0.02em;
  color: $black;
}

%h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 59px;
  line-height: 124%;  
  color: $black;
}

%h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 122%;  
  color: $black;
}

%p-big {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 23px;
  line-height: 122%;  
  color: $black;
}

%p-normal {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 142%;  
  color: $black;
}

%p-small {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 142%;  
  letter-spacing: -0.01em;
  color: $black;
}

%mob-h1 {
  font-family: Roboto;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0.02em;
  text-align: left;
  color: $white;
}

%mob-h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 112%;
  letter-spacing: 0.02em;
  color: $black;
}

%mob-h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 23px;
  line-height: 120%;
  letter-spacing: 0.04em;
  color: $black;
}

%mob_p-big {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 142%;  
  color: $black;
}

%mob_p-normal {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 142%;  
  color: $black;
}

%mob_p-small {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 142%;
  letter-spacing: -0.01em;
  color: $black;
}

%zeroFrame {
  transform: scale(1);
}

%finishFrame {
  transform: scale(1.2);
}

body {  
  max-width: 100%;
  background: $beige_100;    

  @media (max-width: 1024px) {
    max-width: 1024px;
  }

  @media (max-width: 360px) {
    max-width: 360px;
  }
}

h1 {
  @extend %h1;
}

h2 {
  @extend %h2;
}

h3 {
  @extend %h3;
}

.main {
  max-width: 100%;

  @media (max-width: 1024px) {
    max-width: 1024px;
  }

  @media (max-width: 360px) {
    max-width: 360px;
  }
}

.container {  
  max-width: 100%;
  overflow-x: hidden;

  @media (max-width: 1024px) {
    max-width: 1024px;
  }
  @media (max-width: 360px) {
    max-width: 360px;
  }
}

.header {
  display: flex;
  max-width: 100%;
  height: 831px;
  flex-direction: column;  
  background-image: url("../img/header-img.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media (max-width: 1024px) {
    max-width: 1024px;
  }

  @media (max-width: 360px) {
    max-width: 360px;
    height: 488px;
    background-size: cover;
  }
}

.nav {
  display: flex;
  width: 100%;
  height: 88px;
  justify-content: center;
  align-items: center;
  @extend %p-normal;
  color: $white;

  @media (max-width: 360px) {
    max-width: 360px;
    height: 88px;
  }

  &__row {
    width: 1168px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;    

    @media (max-width: 1024px) {
      max-width: 1024px;
      margin: 0 57px;
    }

    @media (max-width: 900px) {
      margin-top: 9%;
      align-items: center;
      flex-direction: column;
    }

    @media (max-width: 360px) {
      max-width: 320px;
      height: 23px;
      margin: 0 20px 11px;      
      flex-direction: row;
    }
    
    @media (max-width: 315px) {
      max-width: 315px;      
      padding-bottom: 42px;
      flex-direction: column;
    }
  }
  
}


.hidden {
   display: none;
  position: fixed;
  z-index: 3;
   background-color: $hidden;
   backdrop-filter: blur(54px);

   .nav__row {
    @media(max-width: 900px) and (min-width: 361px) {
      margin-top: 0;
      font-size: 17px;
      line-height: 24px;
     }       
   }

   .menu__item a, a {
   color: $black; 

   &:hover {
     border-bottom: 1px $black solid;
   }    
  }  
 }

#telHidden {
  @media(max-width: 900px) and (min-width: 361px) {
    margin-top: 0;
   }  
}  

.logo {
  margin-top: 10px;

  @media (max-width: 360px) {
    width: 133px;
    height: 22px;
  }

  img {
    max-width: 100%;

    @media (max-width: 360px) {
      width: 133px;
      height: 22px;
    }
  }
}

.menu {
  display: flex;
  width: 468px;
  list-style: none;  
  justify-content: center;
  align-items: center;

  @media (max-width: 1024px) {
    width: 408px;
  }

  @media (max-width: 880px) {
    width: 335px;
  }

  @media (max-width: 360px) {
    display: none;
  }

  &__item {
    margin-right: 50px;

    @media (max-width: 1024px) {
      margin-right: 30px;
    }

    @media (max-width: 880px) {
      margin-right: 20px;
    }

    &:last-child {
      margin: 0;
    }

    a {
      white-space: nowrap;
      text-decoration: none;
      color: $white;
    }

    a:hover {
      border-bottom: 1px $white solid;
    }
  }
}

.wrap-title {
  max-width: 768px;
  margin: 119px auto 0;  
  text-align: center;
  overflow-wrap: anywhere;  

  @media (max-width: 360px) {
    max-width: 360px;
    margin-top: 53px;
    text-align: center;    
  }

  &__title {    
    color: $white;

    @media (max-width: 1024px) {      
      font-family: Roboto;
      font-size: 9vw;
      font-style: normal;
      font-weight: 700;
      line-height: 109%;
      letter-spacing: 0.02em;
      text-align: center;
    }

    @media (max-width: 360px) {
      max-width: 360px;      
      line-height: 38px;      
    }
  }
}

.telephone {
  display: inline-block;
  max-height: 28px;
  margin-top: 10px;
  color: $white; 

  &:hover {

    @media(min-width: 361px) {
      border-bottom: 1px $white solid;
    }    
  }

  @media (max-width: 360px) {
    white-space: nowrap;    
    font-size: 16px;
    line-height: 142%;
  }
}

.subtitle {  
  max-width: 562px;  
  margin: 50px auto 0;  
  text-align: center;
  @extend %p-normal;
  color: $white;

  @media (max-width: 1024px) {
    max-width: 442px;
    margin-top: 63px;
  }

  @media (max-width: 360px) {
    max-width: 70%; 
    margin-top: 40px;   
    font-size: 16px;        
  }
}

.header-button {  
  margin: 50px auto 0; 
  @extend %p-small;
  cursor: pointer;

  @media (max-width: 360px) {
    margin-top: 40px;    
    font-size: 16px;
    letter-spacing: -0.01em;    
  }

  a {
    display: block;
    background: $white;
    color: $black;
    padding: 5px 20px;
    border-radius: 10px;
    
    @media(min-width:361px) {

      &:hover {
        background: $orange_200;
        color: $white;      
      }

      &:active {
        background: $orange_100;
        color: $black;
      }
    }    
  }
}

.chooseTour {
  max-width: 1170px;
  margin: 136px auto 0;  

  @media (max-width: 1024px) {
    max-width: 100%;
    margin: 135px 53px 0;    
  }

  @media (max-width: 360px) {
    max-width: 360px;
    margin: 75px auto 0;    
  }

  &__header {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    margin: 0 auto 106px;    

    @media (max-width: 360px) {
      max-width: 360px;
      height: 124px;
      margin: 0 0 50px;      
    }
  }

  &__title-wrap {
    max-width: 700px;
    margin-bottom: 35px;
    text-align: center;    

    @media (max-width: 360px) {
      width: 282px;
      height: 38px;
      margin: 0 auto 30px;    
    }
  }

  &__title {

    @media (max-width: 360px) { 
      margin: 0 auto;       
      font-size: 34px;
      line-height: 112%;        
      letter-spacing: 0.02em;      
      white-space: nowrap;
    }
  }

  &__filter-list {
    display: flex;
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;

    @media (max-width: 360px) {
      max-width: 335px;
      height: 56px;
      margin: 0 auto;      
      align-content: space-between;      
    }
  }

  &__insert-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 30px;
    row-gap: 30px;

    @media (max-width: 1024px) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 52vw 52vw 52vw;
      column-gap: 18px;
      row-gap: 16px;
    }

    @media (max-width: 720px) {
      grid-template-columns: 1fr;
      grid-template-rows: 70vw 70vw 70vw 70vw 70vw 70vw;      
      row-gap: 18px;
    }

    @media (max-width: 360px) {      
      grid-template-rows: 318px 318px 318px 318px 318px 318px;      
    }
  }

  &__insert {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: $beige_200;
    border-radius: 50px;
    transition: all 300ms ease;
    overflow: hidden;
    cursor: pointer;

    @media (max-width: 360px) {
      width: 318px;      
      margin: 0 auto;   
      border-radius: 20px;   
    }

    img {
      position: relative;
      top: 0;
      left: 0;
      z-index: 0;
      max-width: 100%;
      background-size: cover;      
      transition: transform 300ms ease;
     
      @media (max-width: 360px) {
        max-width: 318px;        
      }
    }

    &:hover > img {
      transform: scale(1.2);
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;  
      display: block;
      z-index: 1;        
      width: 100%;
      height: 100%;           
      background: transparent;
      background-image: $trip_color;      
      border-radius: 50px;  

      @media (max-width: 360px) {
        border-radius: 20px;
      }
    }
  }
}

.insert1 {
  justify-content: center;
  grid-column: 1/2;
  grid-row: 1/2;  
}

.insert2 {
  justify-content: center;
  grid-column: 2/3;
  grid-row: 1/2;

  @media (max-width: 720px) {
    grid-column: 1 /2;
    grid-row: 2/3;
  }
}

.insert3 {
  justify-content: center;
  grid-column: 3/4;
  grid-row: 1/2;

  @media (max-width: 1024px) {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  @media (max-width: 720px) {
    grid-column: 1 /2;
    grid-row: 3/4;
  }
}

.insert4 {
  justify-content: center;
  grid-column: 1/2;
  grid-row: 2/3;

  @media (max-width: 1024px) {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  @media (max-width: 720px) {
    grid-column: 1 /2;
    grid-row: 4/5;
  }
}

.insert5 {
  justify-content: center;
  grid-column: 2/3;
  grid-row: 2/3;

  @media (max-width: 1024px) {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  @media (max-width: 720px) {
    grid-column: 1 /2;
    grid-row: 5/6;
  }
}

.insert6 {
  justify-content: center;
  grid-column: 3/4;
  grid-row: 2/3;
  
  @media (max-width: 1024px) {
    grid-column: 2/3;
    grid-row: 3/4;
  }

  @media (max-width: 720px) {
    grid-column: 1 /2;
    grid-row: 6/7;
  }
}

.filter-list__item {  
  margin-right: 30px;
  @extend %p-big;

  @media (max-width: 700px) {
    margin-right: 20px;
  }

  @media (max-width: 360px) { 
    margin-right: 10px;   
    font-size: 16px;
    line-height: 142%;       

    &:first-child {
      margin-left: 9px;
    }
  }

  &:last-child {
    margin-right: 0;
  } 

  a {
    padding-bottom: 3px;
    text-decoration: none;
    color: $black;
   
    @media (max-width: 360px) {
      padding-bottom: 0px;
    }

    @media(min-width: 361px) {

      &:hover {
        border-bottom: 2px solid $black;
      }
    }   

    &:active {
      color: $orange_200;
      border-bottom: 2px solid $orange_200;
    }
  }  
}

.insert-header {
  position: absolute;
  left: 50px;
  top: 0;
  z-index: 2;
  width: 247px;  
  margin: 0 auto;
  margin-top: 50px;  

  @media (max-width: 1024px) {
    width: 350px;
    height: 83px;
  }

  @media (max-width: 900px) {
    width: 250px;
  }

  @media (max-width: 720px) {
    max-width: 100%;
  }

  @media (max-width: 360px) {
    top: -25px;
    left: 25px;
    width: 268px;
    height: 64px;    
  }
  h3 {
    color: $white;

    @media (max-width: 720px) {
      font-size: 7vw;
    }

    @media (max-width: 360px) {      
      font-weight: bold;
      font-size: 23px;
      line-height: 120%;
      letter-spacing: 0.04em;
    }
  }
}

.insert-price {  
  margin-top: 16px;
  @extend %p-small;
  color: $white;

  @media (max-width: 360px) {  
    margin-top: 13px; 
    font-size: 16px;
    line-height: 142%;         
  }
}

.footInsert { 
  position: absolute;
  bottom: 0%;
  z-index: 2;
  display: flex;
  width: 199px;
  margin-left: 30px;
  margin-bottom: 43px;
  justify-content: space-between;
  align-items: center;  
  @extend %p-big;

  @media (max-width: 360px) {
    top: 281px;
    left: -25px;    
    margin-left: 10px;
    margin-bottom: 22px;    
    font-size: 16px;
    line-height: 142%;    
  }

  span {
    margin-right: 16px;
  }

  a {
    color: $white;
    display: inherit;
    padding: 7px 20px;
    border-radius: 50px;
    @media(min-width:361px) {

      &:hover {
        background: $green_400;
      }
    }    

    &:active {
      background: $orange_200;
    }
  }
}

.insertArrow {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(350deg)
    brightness(180%) contrast(102%);
}

.setupTour {
  display: flex;
  max-width: 1170px;
  margin: 135px auto 0;  
  flex-direction: column;
  align-items: center;   

  @media (max-width: 1024px) {
    max-width: 100%;
  }

  @media (max-width: 360px) {
    max-width: 360px;
    margin-top: 75px;
  }

  &__header {
    width: 457px;
    display: flex;
    margin-bottom: 100px;
    flex-direction: column;
    align-items: center;
    white-space: nowrap;    

    @media (max-width: 360px) {
      margin-bottom: 40px;
    }
  }

  &__title-wrap {

    h2 {

      @media (max-width: 510px) {
        font-size: 12vw;
      }

      @media (max-width: 360px) {        
        font-size: 34px;
        line-height: 112%;
        letter-spacing: 0.02em;      
      }
    }
  }

  &__subtitle {
    width: 418px;
    margin-top: 30px;
    text-align: center;
    @extend %p-normal;
    color: $grey_300;

    @media (max-width: 360px) {
      margin-top: 20px;
    }

    p {

      @media (max-width: 420px) {
        font-size: 18px;
      }

      @media (max-width: 360px) {        
        font-size: 16px;
        line-height: 142%;
      }
    }    
  }

  &__form-wrap {
    max-width: 100%;

    @media (max-width: 1024px) {
      max-width: 100%;
      
    }

    @media (max-width: 360px) {
      max-width: 318px;
      height: 1110px;
    }
  }
}

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

.form {
  display: flex;
  max-width: 1170px;
  height: 985px;
  padding: 70px;
  flex-direction: column;
  background: $white;
  border-radius: 50px;  

  @media (max-width: 1024px) {
    max-width: 100%;
    height: auto;
    margin: 0 53px;
    padding: 60px;   
  }

  @media(max-width:550px) {
    margin:0;
  }

  @media (max-width: 360px) {
    position: relative;
    max-width: 318px;
    height: 1110px;
    padding: 20px;    
    border-radius: 30px;
  }

  p {
    @extend %p-normal;    
    margin-bottom: 6px;

    @media (max-width: 360px) {      
      font-size: 16px;
      line-height: 134%;
    }
  }

  input:not(input[type="radio"], input[type="checkbox"], input[type="button"]) {    
    width: 500px;
    margin-bottom: 31px;
    padding: 20px;
    @extend %p-normal;
    border: 1px solid $beige_200;
    border-radius: 10px;
    
    &:hover {
      background: $beige_200;
    }
    &:focus {
      border: 1px solid $grey_300;
      background: $beige_200;
    }

    @media (max-width: 1024px) {
      max-width: 389px;
    }

    @media (max-width: 360px) {
      max-width: 278px;   
      padding: 10px;  
      font-size: 16px;
      line-height: 142%;      
    }
  }

  input[type="radio"] {
    transform: scale(2.2);
    margin-right: 10px;

    @media (max-width: 360px) {
      transform: scale(1.5);
      margin-right: 5px;
    }
  }

  input[type="button"] {
    display: flex;
    max-width: 100%;    
    padding: 15px 30px;
    justify-content: center;    
    background: $green_100;
    color: $green_400;
    @extend %p-normal;
    border-radius: 10px;

    @media(min-width:400px)  {

      &:hover {
        background: $grey_100;
      }

      &:active {
        background: $grey_200;
      }
    }
   
    @media (max-width: 360px) { 
      width: 134px;     
      padding: 12px 30px;
      font-size: 16px;
      line-height: 142%;           
    }
  }

  input:not(input[type="button"]) {
    max-width: 100%;
    color: $black;
    background: $beige_100;    
  }

  #search {
    margin-right: 15px;
    background: $green_400;
    color: $white;   

    @media(min-width: 1025px) {
      max-width: 235px;
      margin: 3px 0 0 -6px;     
     
    }    
  }

  @media(min-width:400px) {

    #search:hover {
      background: $green_300;
    }

    #search:active {
      background: $green_200;
    }
  } 

  .reset {
    color: $green_400;
    background: $green_100;
    margin-left: 5px;

    @media(min-width:1025px){
      max-width: 235px;
      margin: 2px 0 0 8px;      
    }

    @media(max-width:1024px) {
      margin-left: 15px;
    }

    @media(max-width:360px) {
      margin-left: 5px;
    }
  }

  .formSetUp__button-wrap {
    display: grid;
    max-width: 500px;    
    margin-top: 30px;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    justify-content: space-between;    
    
    @media (max-width: 1024px) {
      margin-top: 33px;
      max-width: 500px;
    }

    @media (max-width: 360px) {
      margin-top: 28px;
      max-width: 278px;
    }
  }
}

input:hover,
select:hover,
textarea:hover {
  background: $beige_200;
  cursor: pointer;
}

textarea:focus {
  border: 1px solid $grey_300;
  background: $beige_200;
}

.input-conteiner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;  
}

.input-column1 {
  width: 50%;
  padding-right: 2%;

  @media (max-width: 360px) {
    width: 100%;
  }
}

.input-column2 {
  width: 50%;
  margin-top: 1px;  

  @media (max-width: 360px) {
    position: absolute;
    top: 100px;
    left: 20px;
    width: 100%;    
    margin-top: 25px;
  }
}

.rowDog,
.rowDog2,
.rowDog3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 250px), 1fr));
  gap: 20px;

  @media(min-width: 1920px) {
    gap:30px;
  }

  @media (max-width: 360px) {
    grid-template-columns: 100%;
    gap: 2%;
  }
}

.rowDog:first-child{
  margin-left: -6px;

  @media(max-width:1024px) {
    margin-left: 0;
  }
}

.em-lab:first-child {
  margin-left: -6px;

  @media(max-width:1024px) {
    margin-left: 0;
  }
}

.data-lab:first-child{
  margin-left: -6px;

  @media(max-width:1024px) {
    margin-left: 0;
  }
}

textarea,
select {
  width: 100%;  
  margin-bottom: 32px;  
  background: $beige_100;
  border-radius: 10px;  
  border: 1px solid $beige_200;
  resize: none;
  @extend %p-normal;

  &:focus {
    border: 1px solid $grey_300;
    background: $beige_200;
  }

  @media (max-width: 360px) {    
    font-size: 16px;
    line-height: 142%;
    padding: 10px;
  }
}

textarea {
  max-width: 100%;
  margin-bottom: 23px;  
  padding: 20px;

  @media (max-width: 1024px) {    
    height: 152px;
    padding: 0 60px;
    margin-bottom: 32px;
  }

  @media (max-width: 360px) {
    height: 132px;
    padding: 0 10px;
    margin-bottom: 30px;
  }
}

.select-wrapp {
  position: relative;  

  &::before {
    content: "";
    position: absolute;
    top: 49%;
    right: 18px;
    display: block;
    width: 11px;
    height: 11px;
    border-left: 2px solid $black;
    border-bottom: 2px solid $black;          
    transform: translateY(-205%) rotate(317deg);
    pointer-events: none;

    @media(max-width:1024px) {
      top: 50%;
      right: 26px;
      width: 14px;
      height: 13px;
    }

    @media(max-width:360px) {
      right: 15px;
    }
  }
}

select {
  width: 100%;
  resize: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;  
  padding: 20px 25px 20px 20px;
  @extend %p-normal;

   &:invalid {
    color: $grey_300;
  }

  @media (max-width: 1024px) {
    max-width: 100%;
  }

  @media (max-width: 360px) {
    max-width: 278px;
    padding: 12px 10px;
    padding-right: auto;
  }
}

select::-ms-expand {
  display: none;
}

input[type=date] {
  text-transform: uppercase;

  &:required:invalid::-webkit-datetime-edit {
    color: $grey_300;
  }

  &:focus::-webkit-datetime-edit {
    color: $black;
  }
}

.years-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media(min-width:1025px) {
    margin-top: 5px;
    margin-left: -5px;
  }

  &__radio-wrap {
    display: flex;
    width: 166px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    @media (max-width: 360px) {
      width: 139px;
    }

    span {
    @extend %p-normal;    
    margin-left: 5px;

    @media (max-width: 360px) {      
      font-size: 16px;
      line-height: 142%;
      margin-left: 0;
      }
    }    
  }
}

.real-radio {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

.custom-radio {
  position: relative;
  display: inline-block;
  width: 26px;
  height: 26px;
  background: $white;
  border: 2px solid $black;
  border-radius: 50%;
  vertical-align: sub;
  cursor: pointer;

  @media(max-width: 360px) {
    width: 20px;
    height: 20px;
    margin-top: 4px;
    margin-right: 3px;
  }

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    width: 12px;
    height: 12px;
    background: $black;
    border-radius: 50%;    
    transform: translate(-50%, -50%) scale(0);
    transition: 0.2s ease-in;
    
    @media(max-width: 360px) {
      width: 8px;
      height: 8px;      
    }
  }
}

.real-radio:checked + .custom-radio::before {
  transform: translate(-50%, -50%) scale(1);
}

.radio-no,
.radio-yes {
  display: flex;
  align-items: baseline;
}

.radio-no {
  margin-left: 35px;
}

input[type="checkbox"] {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

.checkbox-wrap {
  display: flex;  
  max-width: 554px;
  margin-top: 31px;  
  align-items: baseline;  

  @media (max-width: 360px) {
    width: 278px;
    margin-top: 30px;
  }

  span {
    display: block;    
    margin: -29px 0 0 36px;   
    @extend %p-small;
    color: $grey_300;

    @media(max-width: 360px) {
      max-width: 247px;
      margin: -26px 0 0 30px;      
    }
  }

  a {
    color: $black;

    @media(min-width:361px) {
      &:hover {
        text-decoration: underline;
      }
    }    

    &:active {
      color: $green_400;
    }
  }
}

.custom-check {
  position: relative;
  display: inline-block;  
  width: 26px;
  height: 26px;
  border: 2px solid $black;
  background: $white;
  border-radius: 5px;
  vertical-align: baseline;
  cursor: pointer;

  @media(min-width:1025px) {
    margin-left: -5px;
  }

  @media(max-width: 360px) {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;    
    width: 12px;
    height: 7px;    
    border-left: 2px solid $black;
    border-bottom: 2px solid $black;
    transform: translate(-50%, -50%) rotate(10deg) scale(0);
    transition: 0.25s ease-in;

    @media(max-width: 360px) {
      width: 9px;
      height: 5px;
    }
  }
}

.check-real:checked + .custom-check::before {
  transform: translate(-50%, -50%) rotate(-45deg) scale(1) ;
}

.reviews {
  max-width: 1170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 135px auto 0;  

  @media (max-width: 1024px) {
    max-width: 100%;
    margin-top: 115px;
  }

  @media (max-width: 360px) {
    max-width: 100%;
    height: 1210px;
    margin-top: 75px;
  }

  &__header {
    max-width: 529px;
    text-align: center;
    margin-bottom: 100px;

    @media (max-width: 1024px) {      
      margin: 20px auto 0;      
    }

    @media (max-width: 360px) {
      max-width: 100%;     
      margin: 0 auto 50px;      
    }
  }

  &__title {
    margin-bottom: 30px;

    @media (max-width: 360px) {
      margin-bottom: 21px;
    }

    h2 {

      @media (max-width: 550px) {
        font-size: 10vw;
      }

      @media (max-width: 360px) {        
        font-size: 34px;
        line-height: 112%;
        letter-spacing: 0.02em;        
      }
    }
  }

  &__subtitle {
    margin: 0 55px;
    @extend %p-normal;
    color: $grey_300;    

    @media (max-width: 360px) {
      margin: 0;
    }

    p {

      @media (max-width: 360px) {
        max-width: 318px;
        margin: 0 auto;        
        font-size: 16px;
        line-height: 142%;
      }
    }
  }

  &__container {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 400px), 1fr));
    gap: 2%;
    justify-content: space-between;

    @media(min-width:1920px) {
      gap: 30px;
    }

    @media (max-width: 1024px) {      
      margin-top: 99px;
      padding-right: 53px;
      padding-left: 53px;
    }

    @media (max-width: 360px) {      
      width: 360px;
      margin-top: 0px;
      padding: 0 21px;
      gap: 0px;
    }

    &:first-child {
      p {

        @media (max-width: 360px) {
          white-space: break-spaces;
        }
      }
    }

    &:last-child {

      @media (max-width: 360px) {
        margin-bottom: 0;
      }

      p {

        @media (max-width: 360px) {
          white-space: normal;
        }
      }
    }
  }

  &__card {
    max-width: 570px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
    padding: 40px;
    align-items: center;
    border-radius: 50px;    
    background: $beige_200;
    @extend %p-big;

    @media (max-width: 1024px) {
      max-width: 100%;
      padding-top: 39px;
    }

    @media (max-width: 360px) {
      max-width: 318px;     
      padding: 20px;
      border-radius: 20px;
      margin-bottom: 18px;
    }

    p {

      @media (max-width: 360px) { 
        width: 278px;      
        font-style: normal;        
        font-size: 16px;
        line-height: 143%;        
      }
    }
  }

  &__title-foot-wrap {
    width: 415px;
    height: 78px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (max-width: 1024px) {
      max-width: 295px;
      height: 76px;
      margin-top: 56px;
    }

    @media (max-width: 360px) {
      max-width: 203px;
      height: 66px;
      margin-top: 56px;
    }

    h3 {
      @media (max-width: 360px) {        
        font-weight: bold;
        font-size: 23px;
        line-height: 120%;
        letter-spacing: 0.04em;        
      }
    }
  }
}

.card__footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 145px;  
  align-items: flex-end;

  @media (max-width: 1024px) {
    max-width: 370px;
  }

  @media (max-width: 360px) {
    max-width: 278px;
    height: 115px;
    margin-top: 4px;
  }

  &__sub {    
    margin-top: 8px;
    @extend %p-small;
    color: $grey_300;

    @media (max-width: 360px) {      
      font-size: 16px;
      line-height: 142%;
      letter-spacing: -0.01em;
    }
  }
}

.img-review {
  min-width: 75px;
  height: 75px;

  @media(max-width:360px) {
    margin-bottom: 4px;
  }
}

.review1 {
  background: url("../img/reviews/review photo-1.jpg") no-repeat;
  background-size: cover;
  border-radius: 50%;
}

.review2 {
  background: url("../img/reviews/review photo-2.jpg") no-repeat;
  background-size: cover;
  border-radius: 50%;
}

.travelPhotos { 
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin-top: 133px;

  @media (max-width: 1024px) {
    max-width: 1024px;
  }

  @media (max-width: 360px) {
    max-width: 360px;
    margin-top: 76px;
  }

  &__header-wrap {
    max-width: 723px;
    margin: 0 auto 100px;    
    text-align: center;

    @media (max-width: 360px) {
      max-width: 360px;
      text-align: center;
      margin-bottom: 50px;
    }

    h2 {

      @media (max-width: 360px) {        
        font-size: 34px;
        line-height: 112%;
        letter-spacing: 0.02em;        
      }
    }
  }

  &__sub {
    max-width: 418px;    
    margin: 30px auto 0;    
    text-align: center;
    @extend %p-normal;
    color: $grey_300;
    @media (max-width: 360px) {
      max-width: 318px;
      margin-top: 20px;
    }

    p {

      @media (max-width: 360px) {        
        font-size: 16px;
        line-height: 142%;
      }
    }
  }

  &__conteiner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 100%;
    padding: 0 30px;
    padding-right: 0;    

    @media (max-width: 1024px) {
      width: 100%;
      padding-top: 0;
      padding-right: 20px;
      padding-left: 20px;
      margin-top: 2px;
    }

    @media (max-width: 360px) {
      width: 360px;
      margin: 0 2px;
    }
  }

  &__row {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 301px;    
    margin-bottom: 30px;
    padding: 0;
    flex-grow: 0;

    @media (max-width: 1024px) {
      max-width: 984px;
    }

    @media (max-width: 360px) {
      max-width: 318px;
      height: 110px;
      margin-bottom: 18px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    .photo {
      width: 442px;
      height: 300px;
      border-radius: 50px;
      margin-right: 30px;
      
      @media (max-width: 1024px) {
        width: 100%;
        height: 300px;
        margin-right: 20px;
      }

      @media (max-width: 360px) {
        max-width: 150px;
        height: 110px;
        border-radius: 20px;
        margin-right: 0;
      }
    }

    .trip-1 {
      background: url("../img/trips-collection/travel photo-1.jpg") no-repeat;
      background-size: cover;
      order: 0;      
      
      @media (max-width: 360px) {
        margin-right: 18px;
      }
    }

    .trip-2 {
      background: url("../img/trips-collection/travel photo-2.jpg") no-repeat;
      background-size: cover;
      order: 1;
      
      @media (max-width: 1024px) {
        display: none;
      }
    }

    .trip-3 {
      background: url("../img/trips-collection/travel photo-3.jpg") no-repeat;
      background-size: cover;
      order: 2;
      
      @media (max-width: 800px) {
        display: none;
      }
    }

    .trip-4 {
      background: url("../img/trips-collection/travel photo-4.jpg") no-repeat;
      background-size: cover;
      order: 3;
      
      @media (max-width: 1024px) {
        margin-right: 0;
      }     
    }

    .trip-5 {
      background: url("../img/trips-collection/travel photo-5.jpg") no-repeat;
      background-size: cover;
      background-position: inherit;
      order: 0;

      @media (max-width: 360px) {
        margin-right: 10px;
      }
    }

    .trip-6 {
      background: url("../img/trips-collection/travel photo-6.jpg") no-repeat;
      background-size: cover;
      background-position: inherit;
      order: 1;

      @media (max-width: 800px) {
        display: none;
      }
    }

    .trip-7 {
      background: url("../img/trips-collection/travel photo-7.jpg") no-repeat;
      background-size: cover;
      background-position: inherit;
      order: 2;
      
      @media (max-width: 1024px) {
        display: none;
      }
    }

    .trip-8 {
      background: url("../img/trips-collection/travel photo-8.jpg") no-repeat;
      background-size: cover;
      background-position: inherit;
      order: 3;

      @media (max-width: 360px) {
        margin-right: 10px;
      }
    }

    .trip-9 {
      background: url("../img/trips-collection/travel photo-13.jpg") no-repeat;
      background-size: cover;
      background-position: inherit;
      order: 4;
    
      @media (max-width: 1024px) {
        margin-right: 0;
      }
    }

    .trip-10 {
      background: url("../img/trips-collection/travel photo-10.jpg") no-repeat;
      background-size: cover;
      order: 1;

      @media (max-width: 800px) {
        margin-right: 0;        
      }

      @media(max-width: 360px) {
        max-width: 154px;
      }      
    }

    .trip-11 {
      background: url("../img/trips-collection/travel photo-11.jpg") no-repeat;
      background-size: cover;
      order: 2;
      
      @media (max-width: 1024px) {
        margin-right: 0;
      }

      @media (max-width: 800px) {
        display: none;
      }
    }

    .trip-12 {
      background: url("../img/trips-collection/travel photo-12.jpg") no-repeat;
      background-size: cover;
      order: 3;
      
      @media (max-width: 1024px) {
        display: none;
      }
    }

    .trip-13 {
      background: url("../img/trips-collection/travel photo-9.jpg") no-repeat;
      background-size: cover;
      order: 0;

      @media (max-width: 360px) {
        max-width: 154px;
        margin-right: 10px;
      }
    }
  }

  .row1 {
    order: 0;

    &:last-child {
      
      @media (max-width: 360px) {
        margin-right: 0;
      }
    }    
  }

  .row2 {
    order: 1;
    background-position: bottom;
  } 

  .row3 {
    order: 3;
  }
}

.history {
  display: flex;
  flex-direction: column;
  max-width: 1170px;  
  margin: 133px auto 0;  

  @media (max-width: 1024px) {
    max-width: 100%;
    margin-top: 133px;
  }

  @media (max-width: 360px) {
    max-width: 360px;
    margin-top: 75px;
  }

  &__sub {
    max-width: 418px;
    @extend %p-normal;
    color: $grey_300;
    margin-top: 30px;

    @media (max-width: 360px) {     
      font-size: 16px;
      line-height: 142%;
      width: 319px;
      margin-top: 20px;
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 100px;
    text-align: center;

    @media (max-width: 360px) {
      width: 319px;
      margin-bottom: 50px;
    }

    h2 {

      @media (max-width: 360px) {        
        font-size: 34px;
        line-height: 112%;      
        letter-spacing: 0.02em;        
      }
    }
  }

  &__card {
    position: relative;
    display: flex;
    max-width: 1170px;
    max-height: 567px;   
    margin-bottom: 50px;  
    flex-direction: column;
    justify-content: space-between;    
    background: $beige_200;
    border-radius: 50px;
    transition: all 300ms ease;
    overflow: hidden;
    cursor: pointer;
    background-size: cover;
    border-radius: 50px;    
    align-items: center;

    @media (max-width: 1024px) {
      max-width: 918px;
      margin: 0 53px;
      margin-bottom: 50px;
    }

    @media (max-width: 360px) {
      max-width: 318px;
      height: 455px;
      margin: 0 21px;
      margin-bottom: 20px;
      border-radius: 20px;      
    }

    &:last-child {
      margin-bottom: 0;
    }

    img {
      position: relative;
      top: 0;
      left: 0;
      z-index: 0;
      width: 100%;
      background-size: cover;
      transition: transform 300ms ease;      
    }

    img:not(.insertArrow) {

      @media (max-width: 1024px) {
        width: 918px;
        height: 567px;
      }
    }

    h3 {      
      position: absolute;
      top: 60px;
      left: 60px;
      z-index: 2;
      color: $white;

      @media (max-width: 500px) {
        font-size: 7vw;
      }

      @media (max-width: 360px) {
        top: 30px;
        left: 30px;
        width: 130px;
        font-weight: bold;
        font-size: 23px;
        line-height: 120%;
        letter-spacing: 0.04em;        
      }
    }

    &:hover > img {
      transform: scale(1.2);
    }

    &::after {
      content: "";      
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;     
      display: block;
      width: 100%;
      height: 100%;
      background: transparent;
      background-image: $history_color;  
      border-radius: 50px;

      @media (max-width: 360px) {
        border-radius: 20px;
      }
    }

    &__description-wrap {
      width: 100%;
      height: 394px;

      @media (max-width: 360px) {
        height: 306px;
      }
    }

    .social {
      position: absolute;
      bottom: 0%;
      z-index: 2;
      display: flex;        
      width: 100%;
      justify-content: space-between;      
      align-items: baseline;      

      @media(min-width: 1920px) {
        bottom: 2%;
      }      

      #history-insert {
        position: static;

        @media(min-width:1025px) {
          margin-left: 40px;
        }

        @media(max-width:1024px) {
          margin-left: 40px;
          margin-bottom: 53px;
        }

        @media(max-width:360px) {
          margin-left: 10px;
          margin-bottom: 21px;
        }
      }

      &__links {
        top: 478px;
        left: 787px;
        display: flex;
        width: 322px;     
        margin-right: 60px;   
        justify-content: end;
        align-items: center;        
        @extend %p-normal;
        @media (max-width: 730px) {
          display: none;
        }        

        span {
          margin-right: 35px;

          &:last-child {
            margin-right: 0;
          }
        }

        a {
          color: $white;
          text-decoration: none;
        }
        a:hover {
          text-decoration: underline;
        }
        a:active {
          color: $orange_200;
        }
      }
    }
  }

  .description {
    position: absolute;
    top: 77px;
    left: 60px;
    z-index: 2;
    max-width: 554px;
    margin-top: 60px;   
    @extend %p-normal;
    color: $white;

    @media (max-width: 360px) {
      top: 48px;
      left: 30px;
      width: 263px;
      height: 306px;      
    }

    p {

      @media (max-width: 500px) {
        font-size: 4vw;
      }

      @media (max-width: 360px) {        
        font-size: 16px;
        line-height: 142%;
      }
    }

    ul {
      margin-left: 30px;
      margin-top: 28px;

      @media (max-width: 500px) {
        font-size: 4vw;
      }

      @media (max-width: 427px) {
        margin-top: 0;
      }

      @media (max-width: 360px) {       
        font-size: 16px;
        line-height: 142%;
        margin-left: 25px;
        margin-top: 25px;
      }
    }
  }
}

.email-wrap {
  display: flex;
  max-width: 771px;
  margin: 136px auto;  
  align-items: center;
  justify-content: space-between;

  @media (max-width: 800px) {
    flex-direction: column;
  }

  @media (max-width: 360px) {
    max-width: 360px;        
    margin-top: 75px;
    margin-bottom: 75px;
  }

  &__photo {
    width: 370px;
    height: 370px;
    border-radius: 50px;
    background: url("../img/footer/image 17.png") no-repeat;
    background-size: cover;

    @media(max-width:1024px) {
      margin-left: -1px;
    }

    @media (max-width: 360px) {
      width: 130px;
      height: 133px;
      border-radius: 20px;     
    }
  }

  &__textBlock {
    max-width: 371px;

    @media (max-width: 800px) {
      margin-top: 40px;
      text-align: center;
    }

    @media (max-width: 391px) {
      width: 291px;
      margin-top: 32px;
    }

    h3 {

      @media (max-width: 360px) {        
        font-weight: bold;
        font-size: 23px;
        line-height: 115%;
        letter-spacing: 0.04em;
      }
    }
  }

  &__sub {
    margin-top: 20px;
    @extend %p-normal;
    color: $grey_300;

    @media (max-width: 400px) {     
      font-size: 16px;
      line-height: 142%;
    }

    a {
      color: $black;
    }

    @media(min-width:361px) {
      a:hover {
        text-decoration: underline;
      }
    }       
    a:active {
      color: $green_400;
    }
  }
}

.footPage {
  display: flex;
  width: 100%;
  height: 88px;
  background: $beige_200;  
  justify-content: center;
  align-items: center;

  @media (max-width: 360px) {
    height: 95px;
  }

  &__conteiner {
    display: flex;
    width: 1168px;    
    justify-content: space-around;
    align-items: center;
    @extend %p-normal;

    @media(min-width:1920px){
      justify-content: space-between;
    }

    @media (max-width: 1024px) {
      max-width: 918px;
      margin: 0 auto;      
    }

    @media (max-width: 700px) {
      flex-direction: column;
    }

    @media (max-width: 400px) {
      max-width: 318px;      
      flex-direction: column;     
      font-size: 16px;
      line-height: 123%;
    }
  }

  p {
    color: $grey_300;

    @media (max-width: 360px) {      
      font-size: 16px;
      line-height: 142%;
      margin-bottom: 5px;
    }
  }

  &__wrapLinks {
    display: flex;
    max-width: 419px;
    //
    @media (max-width: 400px) {
      max-width: 374px;
    }    

    @media (max-width: 360px) {
      width: 314px;
      margin: 0 auto;
      margin-bottom: -7px;
    }
  }
}

#trv-link {

  @media(max-width:360px) {
    top: 265px;
    left: -5px;
  }  
}

.link {
  display: flex;
  width: 126px;  
  margin-right: 25px;

  a {
    color: $black;
  }

  @media(min-width: 361px) {    
    a:hover {
      border-bottom: 1px solid $black;
    }
  }
 
  @media (max-width: 700px) {
    margin-right: 10px;
  }

  @media (max-width: 360px) {
    width: 97px;
    margin-right: 15px;
  }

  &:last-child {
    margin-right: 0;
  }

  &__photo {
    width: 26px;
    height: 26px;
    margin-right: 10px;
    
    @media (max-width: 360px) {
      display: flex;
      width: 20px;
      height: 20px;
      margin-right: 5px;
      
    }    
  }
}

.filter-list__item a.focus {
  color: $orange_200;
  border-bottom: 2px solid $orange_200;
}

.inst-photo {
  width: 14px;
  margin-left: 10px;

  @media(max-width: 360px) {
    width: 10px;
    margin-left: 9px;
  }
}

.fb-photo {
  margin-left: 13px;

  @media(max-width:360px) {
    width: 6px;
    margin-left:10px;
  }
}

.vk-photo {
  margin-left: 5px;

  @media(max-width:360px) {
    width: 15px;
    margin-left: 3px;
    margin-top: 3px;
  }
}